.colors-to-use {
    color: #CE7D29;
    color: #0D6381;
    color: #119da4;
    color: #9B920F;
    color: #D64065;
    color: #29A3CE;
    color: #20DBA5;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.modal-body .container {
    max-width: 90%;
    margin: auto;
}

p {
    margin: auto;
    width: 90%;
}

nav {
    background-color: white;
}

/*general animation classes*/

.animation-element {
    opacity: 0;
    filter: alpha(opacity=0);

}

.animation-element.slide-left {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    -webkit-transform: translate3d(200px, 0px, 0px);
    -ms-transform: translate(200px, 0px);
    transform: translate3d(200px, 0px, 0px);
}

.animation-element.slide-right {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    -webkit-transform: translate3d(-200px, 0px, 0px);
    -ms-transform: translate(-200px, 0px);
    transform: translate3d(-200px, 0px, 0px);

}

.animation-element.slide-left.in-view, .animation-element.slide-right.in-view {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.subgroup {
    padding: 2em;
}

.btn {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    background-color: #CE7D29;
    box-shadow: 3px 3px 0 #119da4;
    border-radius: 0%;
    border: none;
}

.btn:hover {
    background-color: #119da4;
    box-shadow: 3px 3px 0 #CE7D29;
    border-radius: 0%;
    transition: 0.5s;
}

.front-page {
    height: 100vh;
    max-width: 100%;
    min-width: 300px;
    padding: 3em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.front-page-particles {
    position: fixed;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    z-index: -100;
    background: #19647e;
}

.front-page img {
    padding-top: 25vh;
    padding-bottom: 5vh;
}

.front-page-title {
    font-size: 3vw;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #119da4;
    color: #CE7D29;
}

.front-page a {
    color: #CE7D29;
    text-decoration: none;
}

.front-page a:hover {
    color: #119da4;
    text-shadow: 2px 2px 0 #CE7D29;
    text-decoration: none;
    transition: 0.6s;
}

.front-page-title-curr {
    font-size: 7.3vw;
    font-family: Montserrat, sans-serif;
    text-shadow: 2px 2px 0 #CE7D29;
    color: #119da4;
}

#business, #communication, #design, #interaction {
    color: white;
}

.affix {
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 16.66667vw;
    padding-right: 15px;
    padding-left: 15px;
}

nav {
    background-color: white;
    height: 300vh;
    width: 16.66667vw;
}

.logo-left {
    padding: 1vh;
    padding-top: 5vh;
    width: 200px;
}

#logo {
    border: none;
}

/* all links */
.bs-docs-sidebar .nav > li > a {
    border-left: 2px solid transparent;
    color: #19647E;
}

/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
    color: #119DA4;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #119DA4;
}

/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
    font-weight: bolder;
}

/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: bold;
}

/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}

/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
    display: block;
}

.sub_content {
    margin-left: 3em;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

.parallax-parent {
    position: relative;
    height: 50vh;
    background: url(../img/og-pt.svg);

    background-size: cover;

    padding: 0;
    margin: 0;
}

.parallax-child {
    position: relative;
    min-width: 100%;
    min-height: 100%;

    top: 0;
    left: 0;

    background: url(../img/pink-pt.svg);

    background-size: cover;

    padding: 0;
    margin: 0;
}

.main-content {
    position: relative;
    padding: 0;
    overflow: hidden;
    color: #333;
}

.main-content p, .main-content ul {
    font-size: 1.5em;
    padding: 1em;
    list-style-type: circle;
    line-height: 1.5em;
}

.main-content h4 {
    font-size: 3.5em;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 0 #119da4;
}

.main-content h3 {
    font-size: 2em;
}

.subgroup h4, .subgroup img, .group h4 {
    margin: 0;
    padding: 3vw;
}

.main-content h4 {
    margin: 0;
}



.fixed {
    position: fixed;
}

.highlight {
    background-color: #FFFF88;
    font-weight: 800;
}

.p_explain {
    font-size: 1.2em
}

.text-right {
    text-align: left;
}

.text-left, .all-text, .text-right {
    min-height: 50vh;
}

.main-heading {
    font-family: Oswald, sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.main-content {
    background: -webkit-linear-gradient(top, #dbe9ee 0%, #c0d6df 16%, #119da4 32%, #19647e 50%, #119da4 68%, #c0d6df 84%, #dbe9ee 100%);
    background: linear-gradient(to bottom, #dbe9ee 0%, #c0d6df 16%, #119da4 32%, #19647e 50%, #119da4 68%, #c0d6df 84%, #dbe9ee 100%);
}

#structure, #title, #objectives {
    min-height: 100vh;
}

/*#objectives p {
    font-size: 2em;
    margin-left: 3em;
    width: 60%;
}*/

/* Piechart extra CSS*/
.framework-container {
    max-width: 50%;
    margin: 0 auto;
}

.chartHeading {
    text-align: center;
}

/* Piechart extra CSS end*/

/* Mobile navigation */

.mobile-nav {
    display: none;
    position: fixed;
    left: 0em;
    top: 0em;
    z-index: 90;
    width: 100vw;
    max-width: 100%;
    height: 4em;
    padding: 0.5em;
    cursor: pointer;
    margin: 0 !important;
}

.mobile {
    position: fixed;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    z-index: 90;
    top: 4em;
    line-height: 0.5;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 800px) {
    .mobile-nav {
        display: block;
        background: aliceblue;
        box-shadow: #1b6d85 2px 2px 2px;
    }

    .front-page h1 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1000px) {
    .img-rounded {
        display: none;
    }
}

/*search */

.search {
    z-index: 90;
}

.search button {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .search {
        display: none;
    }

    .mobile-search {
        display: block;
    }
}

.mobile-search {

    position: fixed;
    right: 0em;
    top: 4em;
    z-index: 90;
    width: 50vw;
    max-width: 100%
    height: 3em;
    padding: 0.5em;
    cursor: pointer;
    margin: 0 !important;
}

.icons {
    z-index: 90;
    font-size: 2em;
}

.icons p {
    margin: 0;
    padding: 0;
}

.menu-icon {

    position: fixed;
    top: .5em;
    left: 1em;
    margin: 0;

}

.search-icon {
    text-align: right;
    position: fixed;
    top: .5em;
    right: 1em;
    margin: 0;
}

/*form*/
form {
    padding: 5em;
    padding-left: 10%;
}

label {
    padding: 1.2em;
}

input, textarea {
    border-radius: 4px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:focus, textarea:focus {
    border: 3px solid darkcyan;
}

/*form end*/

.bounce {
    display: block;
    padding: 1em;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;

    font-size: 2em;
    /*padding-top: 15vh;*/
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


<*---------WHEELNAV------*>


#wheelDiv > svg { width: 100%; height: 100%; }




.wheelNav400 {
    height: 400px;
    width: 400px;
    margin: auto;
    -moz-transition: ease 1s;
    -o-transition: ease 1s;
    -webkit-transition: ease 1s;
    transition: ease 1s;
   
}

@media (max-width: 480px){
    .wheelNav400 {
        height: 300px;
        width: 300px;
        margin: auto;
    }
}

@media (max-width: 680px){
    wheelNav400 {
        height: 350px;
        width: 350px;
        margin: auto;
    }
}
html|* > svg {
    transform-origin: 50% 50% 0px;
}

@media  (min-width:768px){

#mn {
    max-width: 100%;
    overflow: hidden;
    }
}

/*DIPLOMA*/



.diplomaRock {
    -moz-animation: rockIn 4s;
    -webkit-animation: rockIn 4s;
    animation: rockIn 3s; 
}



@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes rockIn {
    
0% {
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    opacity: 0;
  -webkit-transform: translate3d(200px, 0px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate3d(200px, 0px, 0px);
    
    }
    40% {
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1;
     
    }
    
    
    100% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        
    }
}